parameters:
	ignoreErrors:
		-
			message: "#^Parameter \\#2 \\$callback of method Kirameki\\\\Collections\\\\Enumerator\\<TKey of \\(int\\|string\\),TValue\\>\\:\\:when\\(\\) expects Closure\\(Kirameki\\\\Collections\\\\Enumerator\\<TKey, TValue\\>\\)\\: TReturn, Closure\\(\\$this\\)\\: TReturn given\\.$#"
			count: 2
			path: src/Enumerator.php

		-
			message: "#^Parameter \\#3 \\$fallback of method Kirameki\\\\Collections\\\\Enumerator\\<TKey of \\(int\\|string\\),TValue\\>\\:\\:when\\(\\) expects \\(Closure\\(Kirameki\\\\Collections\\\\Enumerator\\<TKey, TValue\\>\\)\\: TReturn\\)\\|null, \\(Closure\\(\\$this\\)\\: TReturn\\)\\|null given\\.$#"
			count: 2
			path: src/Enumerator.php
