parameters:
	ignoreErrors:
		-
			message: "#^Parameter \\#2 \\$callback of method Kirameki\\\\Collections\\\\Enumerator\\<TKey of \\(int\\|string\\),TValue\\>\\:\\:when\\(\\) expects Closure\\(Kirameki\\\\Collections\\\\Enumerator\\<TKey of \\(int\\|string\\), TValue\\>\\)\\: Kirameki\\\\Collections\\\\Enumerator\\<TKey of \\(int\\|string\\), TValue\\>, Closure\\(\\$this\\(Kirameki\\\\Collections\\\\Enumerator\\<TKey of \\(int\\|string\\), TValue\\>\\)\\)\\: static\\(Kirameki\\\\Collections\\\\Enumerator\\<TKey of \\(int\\|string\\), TValue\\>\\) given\\.$#"
			count: 2
			path: src/Enumerator.php

		-
			message: "#^Parameter \\#3 \\$fallback of method Kirameki\\\\Collections\\\\Enumerator\\<TKey of \\(int\\|string\\),TValue\\>\\:\\:when\\(\\) expects \\(Closure\\(Kirameki\\\\Collections\\\\Enumerator\\<TKey of \\(int\\|string\\), TValue\\>\\)\\: Kirameki\\\\Collections\\\\Enumerator\\<TKey of \\(int\\|string\\), TValue\\>\\)\\|null, \\(Closure\\(\\$this\\(Kirameki\\\\Collections\\\\Enumerator\\<TKey of \\(int\\|string\\), TValue\\>\\)\\)\\: static\\(Kirameki\\\\Collections\\\\Enumerator\\<TKey of \\(int\\|string\\), TValue\\>\\)\\)\\|null given\\.$#"
			count: 2
			path: src/Enumerator.php
